{:port    3000
 :path-to-mkd-file "/home/chris/marketing_for_kevin_2.md"
 :path-to-emails-file "/home/chris/howell_emails.md"
 :path-to-contacts-file "/opt/jetty/contacts.txt"
 :name "Chris Murphy"
 :title "Any title here"
 ;:company "Seaweed Software Pty Ltd"
 :phone "0403 162 669"
 :email "chris@strandz.org"
 :panel-height 6585
 :animation? true
 :only-ph-for-pw? false}
