{:port    3000
 :path-to-mkd-file "/home/chris/state/brothel/Transfer.md"
 :path-to-contacts-file "/opt/jetty/contacts.txt"
 :name "Chris Murphy"
 :title "Any title here"
 :company "Seaweed Software Pty Ltd"
 :phone "0403 162 669"
 :email "chris@strandz.org"
 :panel-height 4525
 :animation? false
 :only-ph-for-pw? false}
