/* Vars */
/*
body {
    min-height: 100%;

    background-image:
    -moz-linear-gradient(45deg, @pgrayDarkest 25%, transparent 25%),
    -moz-linear-gradient(-45deg, @pgrayDarkest 25%, transparent 25%),
    -moz-linear-gradient(45deg, transparent 75%, @pgrayDarkest 75%),
    -moz-linear-gradient(-45deg, @pgray 75%, @pgrayDarkest 75%);
    background-image:
    -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, @pgrayDarkest), color-stop(.25, transparent)),
    -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, @pgrayDarkest), color-stop(.25, transparent)),
    -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, @pgrayDarkest)),
    -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, @pgray), color-stop(.75, @pgrayDarkest));

    -moz-background-size: 20px 20px;
    background-size: 20px 20px;
    -webkit-background-size: 20px 20px;

    background-position:0 0, 50px 0, 50px -50px, 0px 50px;
}
*/
table {
  border-collapse: collapse;
}
table,
th,
td {
  border: 1px solid black;
}
th,
td {
  padding: 15px;
}
tr:hover {
  background-color: #cccccc;
}
.main {
  padding: 2em;
  color: black;
  font-family: Ariel, Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}
.custom-wrapper {
  background-color: #ffd390;
  margin-bottom: 1em;
  -webkit-font-smoothing: antialiased;
  height: 2.1em;
  overflow: hidden;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  transition: height 0.5s;
}
.custom-wrapper.open {
  height: 14em;
}
.custom-menu-3 {
  text-align: right;
}
/* apply this to the first h2 */
.title {
  text-align: center;
  background: #EDB;
}
/* apply this to other headings */
h2 {
  font: Helvetica, sans-serif;
  text-align: left;
  margin-right: 4px;
  background: #EDB;
  padding: 0.3em;
}
/*
.blockquote {
  margin: 1em 0em 1em 0em;
  font-style: italic;
  background: #EDB;
  padding: 0.5em;
}
*/
.side {
  display: inline-block;
}
.xlarge {
  /*font-size: 125%;*/
  margin-top: 3px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: 3px;
  height: 30px;
  width: 30px;
  position: relative;
}
.text {
  /*margin-bottom: 10px;*/
  position: relative;
  vertical-align: middle;
}
.fake-graph {
  width: 97%;
}
.higher-text {
  margin-top: 10px;
  position: relative;
  vertical-align: middle;
}
.container {
  /* height: 2000px; */
  width: 755px;
  background: #eee;
  margin: 50px auto;
  position: relative;
}
.container .front {
  display: block;
  z-index: 5;
  position: absolute;
}
.container .front .inner-front {
  margin: 20px 20px 20px 20px;
  /* display: block; */
  z-index: 5;
  /* position: absolute; */
}
.tubes-general-container {
  margin: 20px auto;
  position: relative;
}
.container .back {
  display: block;
  z-index: 3;
  position: absolute;
  background: #f0f0f0;
}
/* Could not get to work
.centered {
  background: #222
  margin: auto;
  position: absolute;
  width: 100%
}
.centered-block {
  height: 30px;
  width: 300px;
  background: #222
  margin: 0 auto 0 auto;
}
*/
